.university-card-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  margin-top: 5%;
}
.university-card-container .card{
 margin-left: 5%;
 display: flex;
 flex-direction: row;
width: 650px;
border-radius: 5px;
}
.university-container-headung{
    text-align: center;
    margin-top: 2%;
    color: #77BC3F;
    font-weight: bold;
}