.contat-us-card-text {
  font-size: 64px;
  margin-bottom: 5%;
}

.contat-us-card-para {
  font-size: 32px;
  padding: 10px;
  border: 2px solid white;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.301);
}
.contat-us-card-para:hover {
  border-image: linear-gradient(to right, red, yellow, green);
  border-image-slice: 1;
  border-radius: 8px;
}
.farmer-image {
  position: absolute;
  left: 20px;
  top: 853px;
}
.contactus-form-container {
  margin-top: 10%;
  margin-left: 30%;
  width: 50%;
  margin-bottom: 2%;
}
.contactus-form-container label {
  text-align: center;
  font-size: 22px;
}
.contactus-form-container input {
  width: 50%;
  background-color: rgba(121, 150, 121, 0.247);
}
#name,
#email {
  margin-left: 21%;
  margin-top: 5%;
}
#phonenumber {
  margin-left: 15.3%;
  margin-top: 5%;
}
#subject {
  margin-left: 18%;
  margin-top: 5%;
}
#query {
  margin-left: 5%;
  margin-top: 5%;
  width: 50%;
  background-color: rgba(121, 150, 121, 0.247);
}
#submit-btn {
  margin-top: 10%;
  width: 25%;
  padding: 1%;
  border: none;
  background-color: #77bc3f;
  border-radius: 20px;
  color: white;
  margin-left: 30%;
}
#submit-btn:hover {
  background-color: #4d9b0d;
}
.contactus-form-heading {
  font-size: 64px;
  text-shadow: 1px 2px black;
}
