.crop-blog-header h1{
    font-size: 52px;
    text-align: center;
    color: rgb(119, 188, 63);
    
}
.crop-blog-header p{
    font-size: 22px;
    text-align: center;
    color: rgb(79, 141, 27);
    
}
.crop-blog-image-container img{
    box-shadow: 4px 4px 4px gray;
    margin: 3%;
   margin-left: 25%;
   border: 4px solid green;
   border-radius: 4px;
   width: 800px;
}
.share-blog-container{
    margin-left:40%;
}
.crop-blog-des-containior{
    margin: 3% 2%;
}
.crop-blog-des-containior h1,.crop-blog-des-containior h2,.crop-blog-des-containior h3{
    color: rgb(119, 188, 63);
    font-weight: 200;
    text-transform: capitalize;
}
.crop-blog-des-containior h1{
    font-size: 32px;
}
.crop-blog-des-containior p{
    color: rgb(56, 114, 9);
}
.author-details{
    margin: 2%;
}
.author-details h3{
    font-size: 22px;
    color: rgb(56, 114, 9);
}
.Author-name{
    font-size: 22px;
    color: rgb(119, 188, 63);
    font-style: oblique;
}