.headingofseller {
    text-align: center;
    font-size: 5rem;
    color: #77BC3F;
    text-decoration: underline;
}

.seller-purchace-header-container {
    border: 2px solid #333232;
    margin: 2%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    box-shadow: 3px 3px 5px gray;
}

.sell-p-image-container {
    width: 50%;
}

.sell-p-image-container img {
    border: 2px solid #333232;
    width: 100%;
    margin: 1.2%;
    border-radius: 0.5rem;
}

.sell-p-image-container .btn {
    width: 100%;
    margin: 1.2%;
}

.sell-pur-crop-con {
    margin: 1%;
    margin-right: 2.5%;
}

.sell-pur-crop-con table tr {
    border: 2px solid #333232;
}

.sell-pur-crop-con table td {
    border: 2px solid #333232;
    padding: 0.5rem;
    text-transform: capitalize;
    font-weight: 500;
}

.sell-pur-dis-container {
    margin: 2% 0px;
    padding: 1% 3%;
    border-top: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
}

.sell-pur-dis-container h2 {
    color: #77BC3F;
}

.sell-pur-dis-container p {
    color: #35630f;
}

.farmer-informaition-container {
    padding: 1% 3%;
    border-top: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
}

.farmer-informaition-container h2 {
    color: #77BC3F;
    font-size: 2.1rem;
}

.farmer-informaition-container td {
    border: 2px solid #333232;
    padding: 0.4rem;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 17px;
    cursor: pointer;
}

.farmer-informaition-container table {
    margin-top: 2%;
    box-shadow: 3px 3px 5px gray;
}

.farmer-informaition-container td:nth-child(1) {
    background-color: #cbf1c1;
}

.farmer-informaition-container td:nth-child(2) {
    background-color: #e8fdd7;
}

.bidding {
    margin: 2% 0px;
    padding: 1% 3%;
    border-top: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
}

.bidding h3 {
    color: #77BC3F;
    font-size: 2.1rem;
    margin-bottom: 0.5rem;
}

.biddingrating {
    margin: 2% 0px;
}

.biddingrating span {
    font-size: 17px;
    font-weight: 500;
    margin: 2%;
}

.modal-body form {
    margin: 0px;
}